.table-container {
    margin: 20px; 
}

.table {
    width: 100%; 
    border-collapse: collapse; 
}

.table th, .table td {
    padding: 10px; 
    border-bottom: 1px solid #e6dee2; 
}

.table th {
    background-color: #343a40; 
    color: #ffffff; 
}


.table tbody tr:nth-child(even) {
    background-color: #c2742b !important; 
}


.table tbody tr:hover {
    background-color: #0a3663 !important; 
}
